@import url(reset.css);

@font-face {
    font-family: 'Abril Fatface';
    src: url("../fonts/AbrilFatface/AbrilFatface-Regular.ttf");
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}

body {
    background: #25262A;
    color: #bbbcbe;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    color: #cbcabe;
}

h3, ul {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #5b7bC5;
}

ul {
    line-height: 1.5;
    color: #cbcabe;
}

ol {
    color: #5b7bC5;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #bbbcbe;
}

a:hover {
    /*color: darkcyan;*/
    color: #5294E2;
}

p {
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    color: #7d7d7d;
    font-size: 14px;
}

.clear {
    clear: both;
}

#header {
    height: 60px;
    background: #1F2021;
    margin-bottom: 35px;
}

#page-top {
    margin: 0 auto;/*
    padding-bottom: 0px;
    margin-bottom: 0px;*/
}

#cover {
    margin: 0 auto;
    max-width: 960px;
    background: #25262A;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
}

#cover-text {
    padding-top: 144px;
    width: 350px;
    height: 297px;
    background: #25262A;
    position: absolute;
    right: 453px;
    bottom: 0; /*#263248;*/
}

#cover-pic {
    width: 420px;
    height: 325.233px;
    float: right;
}

#cover-pic img {
    width: 420px;
    height: auto;
    float: right;
}

#line {
    width: 960px;
    background: #25262a;
    background-size: 100% auto;
    margin: 0 auto;
    padding-bottom: 20px;
    border-top: 0.5px dashed #BBBCBE;
}

#cover-text h2, #cover-text h3, #cover-text p {
    text-align: right;
    width: 350px;
    margin-bottom: 5px;
}

#cover-text h2 {
    margin-bottom: 13px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    height: 800px;
    background: #2B3346;
}

#content {
    width: 900px;
    margin: 0 auto;
    padding: 25px 0 65px 0; 
    overflow: hidden;
}

#footer {
    margin-top: 30px;
    height: 270px;
    background: #1F2021;
}

#right-content, #left-content {
    height: 240px;
    width: 200px;
    margin-right: 50px;
    float: left;
}

