* {
    padding: 0px;
    margin: 0px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
    height: 380px;
}

td, th {
    border: 5px solid #000000;
    text-align: left;
    padding: 10px;
}


#salaryOfManager {
    width: 200px;
    height: 30px;
    margin-left: 60px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 110%;
}

#salaryOfHourlyWorker {
    width: 200px;
    height: 30px;
    margin-left: 380px;
    margin-top: -30px;
    font-weight: bold;
    font-size: 110%;
}

#salaryOfCommissionWorker {
    width: 200px;
    height: 30px;
    margin-left: 695px;
    margin-top: -30px;
    font-weight: bold;
    font-size: 110%;
}

#salaryOfPieceWorker {
    width: 200px;
    height: 30px;
    margin-left: 1020px;
    margin-top: -30px;
    font-weight: bold;
    font-size: 110%;
}
